<!DOCTYPE html>
<html>
<head>
    <title>訂單確認</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>訂單確認</h1>
    <div class="container">
        <p>收件人姓名：{{ order_params.name }}</p>
        <p>聯絡方式：{{ order_params.contact }}</p>
        <p>配送方式：{{ order_params.delivery_method }}</p>
        <p>地址：{{ order_params.address }}</p>
        <h2>購物車內容：</h2>
        <ul>
            {% for item, quantity in cart_items %}
                <li>{{ item.name }} - 數量：{{ quantity }} - 單價：{{ item.price }}</li>
            {% endfor %}
        </ul>
        <p>總金額：{{ total_price }}</p>
    </div>
</body>
</html>
